<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdySys 2018 &copy;&reg;</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/popper.min.js"></script>
    <script type="text/javascript" src="/javascripts/lodash.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/javascripts/html5shiv.min.js"></script>
      <script src="/javascripts/respond.min.js"></script>
    <![endif]-->
     <script type="text/javascript">
      let FieldValidate
      $(function(){
        FieldValidate =function(Obj) {
            //Checks for error 
            // returns false  no errors
            // if errors returns err object array
            let err=[]
            Obj.forEach(function(id){
                let theField=id['id']
                let val=theField.val()
                
                if (id.strip) {
                    // replace all instances if strip is set to true
                    val=val.replace(/ /g,'')
                }else if (id.trim) {
                    //else if trim is set then remove only outer spaces
                    val=val.trim()
                }
                if(id.required && val.length <1){
                    err.push({id:theField,msg:'Field <strong>('+theField.attr('name')+')</strong> can not be empty'})  
                }
                if (id.minLength && val.length < id.minLength){
                    err.push({id:theField,msg:'Field <strong>('+theField.attr('name')+')</strong> should have more than '+id.minLength+' Characters'})      
                }
                if (id.maxLength && val.length > id.maxLength) {
                    err.push({id:theField,msg:'Field <strong>('+theField.attr('name')+')</strong> can not exceed '+id.maxLength +' Max Length'})
                }
            })
            if (err.length > 0) {
                return err
            }else{
                return false
            }
        }  
      }())
      
    </script>
  </head>
  <body>
  	{{> header}}
    {{> msgs}}
    {{{body}}}
    {{> footer}}


  </body>
</html>
