<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>AdySys 2018 &Copy;&reg;</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="style.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
        <div class="container-fluid">
</div>
        <nav class="navbar bg-success"> 
            <div class="container-fluid"> 
                <div class="navbar-header"> 
                    <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5" aria-expanded="false"> 
                        <span class="sr-only">Toggle navigation</span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                    </button>                     
                    <a href="#" class="navbar-brand" style="text-shadow: 1px 1px 10px #020202, -1px -1px 10px #040404;
    color: #ffffff !important;
    font-style: italic;
    font-family: fantasy;
    font-weight: bolder;">LPIWEB</a> 
                </div>                 
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5"> 
                    <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p> 
                </div>                 
            </div>             
        </nav>
        <div class="panel panel-success"> 
            <div class="panel-heading"> 
                <h3 class="panel-title">Panel title</h3> 
            </div>             
            <div class="panel-body"> Panel content </div>             
        </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <footer class="footer container-fluid">
            this is footer
            <div class="alert alert-success" role="alert"> 
                <strong>AdySys 2018 &copy;&reg;</strong>
                <span class="pull-right">Faysal Banna</span> 
            </div>
        </footer>
        <script src="assets/js/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
